backports.shutil-get-terminal-size==1.0.0
decorator==4.0.10
Django==1.8
future==0.15.2
ipdb==0.10.1
ipython==4.2.0
ipython-genutils==0.1.0
nltk==3.2.1
numpy==1.11.1
oauthlib==1.1.2
pathlib2==2.1.0
Pattern==2.6
pexpect==4.1.0
pickleshare==0.7.2
psycopg2==2.6.1
ptyprocess==0.5.1
python-twitter==3.1
requests==2.10.0
requests-oauthlib==0.6.1
scikit-learn==0.17.1
scipy==0.17.1
simplegeneric==0.8.1
six==1.10.0
sklearn==0.0
traitlets==4.2.2
tweepy==3.5.0
